# OpenPanel
NEXT_PUBLIC_OPENPANEL_API_URL=https://your-openpanel-instance.com/api
NEXT_PUBLIC_OPENPANEL_CLIENT_ID=your-openpanel-client-id
NEXT_PUBLIC_OPENPANEL_CLIENT_SECRET=your-openpanel-client-secret